In [4]:
import sys
import numpy as np

### Basic Numpy Arrays

In [111]:
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [90]:
a = np.array([1,2,3,4])
b = np.array([0,.5,1,1.5,2])

In [113]:
# slicing, return 1st & 2nd element from list a
a[0], a[1]

(1, 2)

In [114]:
# slicing, return 2nd & 3rd element from list a
a[1:3]

array([2, 3])

In [115]:
# slicing from 1st element, skip 2
a[::2]

array([1, 3])

In [116]:
# multi indexing return set
b[0], b[2], b[-1]

(0.0, 1.0, 2.0)

In [117]:
# multi indexing, return numpay array
b[[0, 2, -1]]

array([0., 1., 2.])

### Array Types

In [118]:
a

array([1, 2, 3, 4])

In [119]:
a.dtype

dtype('int32')

In [120]:
b.dtype

dtype('float64')

In [121]:
# change data type integer to float
np.array([1,2,3,4], dtype=np.float)

array([1., 2., 3., 4.])

In [122]:
# There's no point storing char or string in numpy, because numpy only store numbers, dates, & booleans
d = np.array([{'a': 1}, sys])
d.dtype

dtype('O')

### Dimensions and Shapes

In [123]:
A = np.array([
    [1,2,3],
    [4,5,6]
])

In [124]:
# multi dimentional array A, has 2 rows & 3 columns
A.shape

(2, 3)

In [125]:
# multi dimentional array A, has 2 dimensions: 1 vertical & 1 horizontal, or can refer to shape
A.ndim

2

In [126]:
# multi dimentional array A, has size = 6: total number of elements
A.size

6

In [98]:
B = np.array([
    [
        [12,11,10],
        [9,8,7]
    ],
    [
        [6,5,4],
        [3,2,1]
    ]
])

In [99]:
# multi dimentional array B, has 2 lists, each 2 rows & 3 columns
B.shape

(2, 2, 3)

In [100]:
# multi dimentional array B has 3 dimentions: can refer to shape
B.ndim

3

In [101]:
# multi dimentional array B, has size = 12: total number of elements
B.size

12

If the shpae isn't consistent, it'll just fall back to regular python objects:

In [102]:
C = np.array([
    [
        [12,11,18],
        [9,8,7]
    ],
    [
        [6,5,4]
    ]
])

In [103]:
C.dtype

dtype('O')

In [104]:
C.shape

(2,)

In [106]:
C.size

2

### Indexing and Slicing of Matrices

In [5]:
# square matrix
A = np.array([
#    0.1.2.
    [1,2,3], # 0
    [4,5,6], # 1
    [7,8,9] # 2
])

In [7]:
# return 2nd row
A[1]

array([4, 5, 6])

In [11]:
# return 2nd row as 1st dimention, and 1st column as the 2nd dimention
A[1, 0]

4

In [16]:
# return row 1 untill row 2 (1st dimention only)
A[0:2]

array([[1, 2, 3],
       [4, 5, 6]])

In [21]:
# return all rows as 1st dimention, but only 1st & 2nd columns as 2nd dimention
A[:, :2]

array([[1, 2],
       [4, 5],
       [7, 8]])

In [26]:
# return row 1 & 2 as 1st dimention, but only column 1 & 2 as the 2nd dimention
A[:2, :2]

array([[1, 2],
       [4, 5]])

In [27]:
# return row 1 & 2 as 1st dimention, but only for column 2 as 2nd dimention
A[:2, 2:]

array([[3],
       [6]])

In [31]:
# assign 10 to all numbers in 2nd row
A[1] = np.array([10, 10, 10])
A

array([[ 1,  2,  3],
       [10, 10, 10],
       [ 7,  8,  9]])

In [34]:
# assign 99 to all numbers in 3nd row
A[2] = 99
A

array([[ 1,  2,  3],
       [10, 10, 10],
       [99, 99, 99]])

### Summary Statistics

In [35]:
a = np.array([1,2,3,4])

In [37]:
a.sum()

10

In [38]:
a.mean()

2.5

In [39]:
a.std()

1.118033988749895

In [40]:
a.var()

1.25

In [41]:
A = np.array([
    [1,2,3],
    [4,5,6],
    [7,8,9]
])

In [42]:
A.sum()

45

In [43]:
A.mean()

5.0

In [44]:
A.std()

2.581988897471611

In [61]:
# return sum of all numbers vertically (1st column, 2nd column, 3rd column)
A.sum(axis=0)

array([12, 15, 18])

In [62]:
# return sum of all numbers horizontally (1st row, 2nd row, 3rd row)
A.sum(axis=1)

array([ 6, 15, 24])

In [59]:
# return mean vertically (1st column, 2nd column, 3rd column)
A.mean(axis=0)

array([4., 5., 6.])

In [63]:
# return mean horizontally (1st row, 2nd row, 3rd row)
A.mean(axis=1)

array([2., 5., 8.])

### Broadcasting and Vectorized Operations

In [80]:
# vectorized operation: apply math operations to all numbers in array
# any operations performed in numpy array will not modified, but it will return a new array

In [104]:
# return 0 to 4
a = np.arange(4)
a

array([0, 1, 2, 3])

In [108]:
# add 10 to all numbers in numpy list a
a + 10

array([10, 11, 12, 13])

In [109]:
# times 10 to all numbers in numpy list a
a * 10

array([ 0, 10, 20, 30])

In [112]:
# add 10 to all numbers in numpy list a and replace the result
a += 10
a

array([20, 21, 22, 23])

In [113]:
l = [0,1,2,3]

In [114]:
# list comprehension. Same goal that can be achieve faster using numpy array
[i * 10 for i in l]

[0, 10, 20, 30]

In [115]:
b = np.array([10,10,10,10])

In [118]:
# list b added to list a per number correspondingly
a + b

array([30, 31, 32, 33])

In [119]:
# list b multiplied to list a per number correspondingly
a * b

array([200, 210, 220, 230])

### Boolean Arrays