In [39]:
import numpy as np
import pandas as pd

In [126]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [127]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

```DataFrame``` also have indexes

In [128]:
# rename the dataframe index
df.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'UK',
    'US'
]
df

         Population       GDP  Surface Area    HDI Continent
Canada       35.467   1785387       9984670  0.913   America
France       63.951   2833687        640679  0.888    Europe
Germany      80.940   3874437        357114  0.916    Europe
Italy        60.665   2167744        301336  0.873    Europe
Japan       127.061   4602367        377930  0.891      Asia
UK           64.511   2950039        242495  0.907    Europe
US          318.523  17348075       9525067  0.915   America

In [129]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [130]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'UK', 'US'], dtype='object')

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to US
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [132]:
df.size

35

In [133]:
df.shape

(7, 5)

In [134]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [135]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [136]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
dtype: int64

### Indexing, Selection, & Slicing

In [137]:
df

         Population       GDP  Surface Area    HDI Continent
Canada       35.467   1785387       9984670  0.913   America
France       63.951   2833687        640679  0.888    Europe
Germany      80.940   3874437        357114  0.916    Europe
Italy        60.665   2167744        301336  0.873    Europe
Japan       127.061   4602367        377930  0.891      Asia
UK           64.511   2950039        242495  0.907    Europe
US          318.523  17348075       9525067  0.915   America

In [138]:
# loc for indexing selection
df.loc['Canada']

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [139]:
# iloc for sequential position selection
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: US, dtype: object

In [140]:
# column selection
df['Population']

Canada      35.467
France      63.951
Germany     80.940
Italy       60.665
Japan      127.061
UK          64.511
US         318.523
Name: Population, dtype: float64

In [141]:
df['Population'].to_frame()

         Population
Canada       35.467
France       63.951
Germany      80.940
Italy        60.665
Japan       127.061
UK           64.511
US          318.523

Multiple columns can also be selected similarly to ```numpy``` and ```Series```

In [142]:
# column selection
df[['Population', 'GDP']]

         Population       GDP
Canada       35.467   1785387
France       63.951   2833687
Germany      80.940   3874437
Italy        60.665   2167744
Japan       127.061   4602367
UK           64.511   2950039
US          318.523  17348075

In [143]:
# row selection
df[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [144]:
# row selection
df.loc['Italy']

Population       60.665
GDP             2167744
Surface Area     301336
HDI               0.873
Continent        Europe
Name: Italy, dtype: object

In [145]:
# row selection
df.loc['France':'Italy']

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

In [146]:
# 2 dimentions selection
df.loc['France':'Italy', 'Population']

France     63.951
Germany    80.940
Italy      60.665
Name: Population, dtype: float64

In [147]:
# 2 dimentions selection
df.loc['France': 'Italy', ['Population', 'GDP']]

         Population      GDP
France       63.951  2833687
Germany      80.940  3874437
Italy        60.665  2167744

```iloc``` works with the row index:

In [148]:
df

         Population       GDP  Surface Area    HDI Continent
Canada       35.467   1785387       9984670  0.913   America
France       63.951   2833687        640679  0.888    Europe
Germany      80.940   3874437        357114  0.916    Europe
Italy        60.665   2167744        301336  0.873    Europe
Japan       127.061   4602367        377930  0.891      Asia
UK           64.511   2950039        242495  0.907    Europe
US          318.523  17348075       9525067  0.915   America

In [149]:
df.iloc[0]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [150]:
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: US, dtype: object

In [151]:
df.iloc[[0, 1, -1]]

        Population       GDP  Surface Area    HDI Continent
Canada      35.467   1785387       9984670  0.913   America
France      63.951   2833687        640679  0.888    Europe
US         318.523  17348075       9525067  0.915   America

In [152]:
df.iloc[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [153]:
df.iloc[1:3, 3]

France     0.888
Germany    0.916
Name: HDI, dtype: float64

In [154]:
df.iloc[1:3, [0, 3]]

         Population    HDI
France       63.951  0.888
Germany      80.940  0.916

In [155]:
df.iloc[1:3, 1:3]

             GDP  Surface Area
France   2833687        640679
Germany  3874437        357114

> **RECOMMENDED**: Always use ```loc``` and ```iloc``` to reduce ambiguity, specially with DataFrames with numeric indexes.

### Conditional Selection (Boolean Arrays)

In [156]:
df

         Population       GDP  Surface Area    HDI Continent
Canada       35.467   1785387       9984670  0.913   America
France       63.951   2833687        640679  0.888    Europe
Germany      80.940   3874437        357114  0.916    Europe
Italy        60.665   2167744        301336  0.873    Europe
Japan       127.061   4602367        377930  0.891      Asia
UK           64.511   2950039        242495  0.907    Europe
US          318.523  17348075       9525067  0.915   America

In [157]:
df['Population'] > 70

Canada     False
France     False
Germany     True
Italy      False
Japan       True
UK         False
US          True
Name: Population, dtype: bool

In [158]:
df.loc[df['Population'] > 70]

         Population       GDP  Surface Area    HDI Continent
Germany      80.940   3874437        357114  0.916    Europe
Japan       127.061   4602367        377930  0.891      Asia
US          318.523  17348075       9525067  0.915   America

In [159]:
df.loc[df['Population'] > 70, 'Population']

Germany     80.940
Japan      127.061
US         318.523
Name: Population, dtype: float64

In [160]:
df.loc[df['Population'] > 70, ['Population', 'GDP']]

         Population       GDP
Germany      80.940   3874437
Japan       127.061   4602367
US          318.523  17348075

### Dropping Stuff

In [161]:
df

         Population       GDP  Surface Area    HDI Continent
Canada       35.467   1785387       9984670  0.913   America
France       63.951   2833687        640679  0.888    Europe
Germany      80.940   3874437        357114  0.916    Europe
Italy        60.665   2167744        301336  0.873    Europe
Japan       127.061   4602367        377930  0.891      Asia
UK           64.511   2950039        242495  0.907    Europe
US          318.523  17348075       9525067  0.915   America

In [162]:
df.drop('Canada')

         Population       GDP  Surface Area    HDI Continent
France       63.951   2833687        640679  0.888    Europe
Germany      80.940   3874437        357114  0.916    Europe
Italy        60.665   2167744        301336  0.873    Europe
Japan       127.061   4602367        377930  0.891      Asia
UK           64.511   2950039        242495  0.907    Europe
US          318.523  17348075       9525067  0.915   America

In [163]:
df.drop(['Canada', 'Japan'])

         Population       GDP  Surface Area    HDI Continent
France       63.951   2833687        640679  0.888    Europe
Germany      80.940   3874437        357114  0.916    Europe
Italy        60.665   2167744        301336  0.873    Europe
UK           64.511   2950039        242495  0.907    Europe
US          318.523  17348075       9525067  0.915   America

In [164]:
df.drop(columns=['Population', 'HDI'])

              GDP  Surface Area Continent
Canada    1785387       9984670   America
France    2833687        640679    Europe
Germany   3874437        357114    Europe
Italy     2167744        301336    Europe
Japan     4602367        377930      Asia
UK        2950039        242495    Europe
US       17348075       9525067   America

In [165]:
df.drop(['Population', 'HDI'], axis='columns')

              GDP  Surface Area Continent
Canada    1785387       9984670   America
France    2833687        640679    Europe
Germany   3874437        357114    Europe
Italy     2167744        301336    Europe
Japan     4602367        377930      Asia
UK        2950039        242495    Europe
US       17348075       9525067   America

In [166]:
df.drop(['Canada', 'Germany'], axis='rows')

        Population       GDP  Surface Area    HDI Continent
France      63.951   2833687        640679  0.888    Europe
Italy       60.665   2167744        301336  0.873    Europe
Japan      127.061   4602367        377930  0.891      Asia
UK          64.511   2950039        242495  0.907    Europe
US         318.523  17348075       9525067  0.915   America

### Operations

In [167]:
df[['Population', 'GDP']]

         Population       GDP
Canada       35.467   1785387
France       63.951   2833687
Germany      80.940   3874437
Italy        60.665   2167744
Japan       127.061   4602367
UK           64.511   2950039
US          318.523  17348075

In [168]:
df[['Population', 'GDP']]/100

         Population        GDP
Canada      0.35467   17853.87
France      0.63951   28336.87
Germany     0.80940   38744.37
Italy       0.60665   21677.44
Japan       1.27061   46023.67
UK          0.64511   29500.39
US          3.18523  173480.75

**Operations with Pandas Series** work at column levl, broadcasting down the rows

In [169]:
crisis = pd.Series([-1_000_000, -0.3], index=['GDP', 'HDI'])
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [170]:
df[['GDP', 'HDI']]

              GDP    HDI
Canada    1785387  0.913
France    2833687  0.888
Germany   3874437  0.916
Italy     2167744  0.873
Japan     4602367  0.891
UK        2950039  0.907
US       17348075  0.915

In [171]:
df[['GDP', 'HDI']] + crisis

                GDP    HDI
Canada     785387.0  0.613
France    1833687.0  0.588
Germany   2874437.0  0.616
Italy     1167744.0  0.573
Japan     3602367.0  0.591
UK        1950039.0  0.607
US       16348075.0  0.615

### Modifying DataFrames

Adding a new column

In [172]:
langs = pd.Series(
    ['French', 'German', 'Italian'],
    index=['France', 'Germany', 'Italy'],
    name='Language'
)

In [173]:
df['Language'] = langs

In [174]:
df

         Population       GDP  Surface Area    HDI Continent Language
Canada       35.467   1785387       9984670  0.913   America      NaN
France       63.951   2833687        640679  0.888    Europe   French
Germany      80.940   3874437        357114  0.916    Europe   German
Italy        60.665   2167744        301336  0.873    Europe  Italian
Japan       127.061   4602367        377930  0.891      Asia      NaN
UK           64.511   2950039        242495  0.907    Europe      NaN
US          318.523  17348075       9525067  0.915   America      NaN

Replacing values per column

In [175]:
df['Language'] = 'English'

In [176]:
df

         Population       GDP  Surface Area    HDI Continent Language
Canada       35.467   1785387       9984670  0.913   America  English
France       63.951   2833687        640679  0.888    Europe  English
Germany      80.940   3874437        357114  0.916    Europe  English
Italy        60.665   2167744        301336  0.873    Europe  English
Japan       127.061   4602367        377930  0.891      Asia  English
UK           64.511   2950039        242495  0.907    Europe  English
US          318.523  17348075       9525067  0.915   America  English

Renaming columns

In [177]:
df.rename(
    columns = {
        'HDI': 'Human Development Index',
        'Anual Popcorn Consumption': 'APC'
    }, index = {
        'UK': 'United Kingdom',
        'US': 'United States',
        'Argentina': 'AR'
    }
)

,Population,GDP,Surface Area,Human Development Index,Continent,Language
Canada,35.467,1785387,9984670,0.913,America,English
France,63.951,2833687,640679,0.888,Europe,English
Germany,80.940,3874437,357114,0.916,Europe,English
Italy,60.665,2167744,301336,0.873,Europe,English
Japan,127.061,4602367,377930,0.891,Asia,English
United Kingdom,64.511,2950039,242495,0.907,Europe,English
United States,318.523,17348075,9525067,0.915,America,English

In [178]:
df

         Population       GDP  Surface Area    HDI Continent Language
Canada       35.467   1785387       9984670  0.913   America  English
France       63.951   2833687        640679  0.888    Europe  English
Germany      80.940   3874437        357114  0.916    Europe  English
Italy        60.665   2167744        301336  0.873    Europe  English
Japan       127.061   4602367        377930  0.891      Asia  English
UK           64.511   2950039        242495  0.907    Europe  English
US          318.523  17348075       9525067  0.915   America  English

In [179]:
df.rename(index=str.upper)

         Population       GDP  Surface Area    HDI Continent Language
CANADA       35.467   1785387       9984670  0.913   America  English
FRANCE       63.951   2833687        640679  0.888    Europe  English
GERMANY      80.940   3874437        357114  0.916    Europe  English
ITALY        60.665   2167744        301336  0.873    Europe  English
JAPAN       127.061   4602367        377930  0.891      Asia  English
UK           64.511   2950039        242495  0.907    Europe  English
US          318.523  17348075       9525067  0.915   America  English

In [181]:
df.rename(index=str.lower)

         Population       GDP  Surface Area    HDI Continent Language
canada       35.467   1785387       9984670  0.913   America  English
france       63.951   2833687        640679  0.888    Europe  English
germany      80.940   3874437        357114  0.916    Europe  English
italy        60.665   2167744        301336  0.873    Europe  English
japan       127.061   4602367        377930  0.891      Asia  English
uk           64.511   2950039        242495  0.907    Europe  English
us          318.523  17348075       9525067  0.915   America  English

### Creating columns from other columns

In [182]:
df[['Population', 'GDP']]

         Population       GDP
Canada       35.467   1785387
France       63.951   2833687
Germany      80.940   3874437
Italy        60.665   2167744
Japan       127.061   4602367
UK           64.511   2950039
US          318.523  17348075

In [183]:
df['GDP'] / df['Population']

Canada     50339.385908
France     44310.284437
Germany    47868.013343
Italy      35733.025633
Japan      36221.712406
UK         45729.239975
US         54464.120330
dtype: float64

In [186]:
df['GDP per Capita'] = df['GDP'] / df['Population']

In [187]:
df

,Population,GDP,Surface Area,HDI,Continent,Language,GDP per Capita
Canada,35.467,1785387,9984670,0.913,America,English,50339.385908
France,63.951,2833687,640679,0.888,Europe,English,44310.284437
Germany,80.940,3874437,357114,0.916,Europe,English,47868.013343
Italy,60.665,2167744,301336,0.873,Europe,English,35733.025633
Japan,127.061,4602367,377930,0.891,Asia,English,36221.712406
UK,64.511,2950039,242495,0.907,Europe,English,45729.239975
US,318.523,17348075,9525067,0.915,America,English,54464.120330

### Statistical Info

In [190]:
df.head()

,Population,GDP,Surface Area,HDI,Continent,Language,GDP per Capita
Canada,35.467,1785387,9984670,0.913,America,English,50339.385908
France,63.951,2833687,640679,0.888,Europe,English,44310.284437
Germany,80.940,3874437,357114,0.916,Europe,English,47868.013343
Italy,60.665,2167744,301336,0.873,Europe,English,35733.025633
Japan,127.061,4602367,377930,0.891,Asia,English,36221.712406

In [191]:
df.describe()

       Population           GDP  Surface Area       HDI  GDP per Capita
count    7.000000  7.000000e+00  7.000000e+00  7.000000        7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429    44952.254576
std     97.249970  5.494020e+06  4.576187e+06  0.016592     6954.983875
min     35.467000  1.785387e+06  2.424950e+05  0.873000    35733.025633
25%     62.308000  2.500716e+06  3.292250e+05  0.889500    40265.998421
50%     64.511000  2.950039e+06  3.779300e+05  0.907000    45729.239975
75%    104.000500  4.238402e+06  5.082873e+06  0.914000    49103.699626
max    318.523000  1.734808e+07  9.984670e+06  0.916000    54464.120330

In [194]:
df['Population'].min(), df['Population'].max()

(35.467, 318.523)

In [199]:
df['Population'].sum()

751.118

In [200]:
len(df['Population'])

7

In [198]:
df['Population'].sum() / len(df['Population'])

107.30257142857144

In [201]:
df['Population'].mean()

107.30257142857144

In [202]:
df['Population'].std()

97.24996987121581

In [203]:
df['Population'].median()

64.511

In [204]:
df['Population'].describe()

count      7.000000
mean     107.302571
std       97.249970
min       35.467000
25%       62.308000
50%       64.511000
75%      104.000500
max      318.523000
Name: Population, dtype: float64

In [207]:
df['Population'].quantile(.25)

62.308

In [208]:
df['Population'].quantile([.2, .4, .6, .8, 1])

0.2     61.3222
0.4     64.1750
0.6     74.3684
0.8    117.8368
1.0    318.5230
Name: Population, dtype: float64